<div>
    <h2 class="page-title">Информация ЕДИ</h2>
    <a href="/admin/edi/upload" class="btn btn-primary">Добавить новую информацию</a>
    <table class="table table-striped sorting">

    <thead>
    <tr class="home">
        <th>Наименование</th>
        <th>Документ</th>
        <th>Дата</th>
        <th>Скачать</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <% files.forEach(function(file){ %>
        <tr>
            <td><p><%= file.name %></p></td>
            <td><p><%= file.file %></p></td>
            <td><p><%= file.date %></p></td>
            <td><a href="/admin/edi/edit-edi/<%= file.id %>">Редактировать</a></td>
            <td><a href="/admin/edi/delete/<%= file.id %>">Удалить</a></td>
        </tr>
    <% }); %>
    </tbody>
    </table>
</div>