<form method="post" action="/admin/admin_separations/add-separations/">

    <div class="form-group">
        <label for="separation">Раздел</label>
        <input type="text" class="form-control" id="separation" name="separation" value="<%= separation %>" placeholder="separation">
    </div>

    <h4 >Выберете документы</h4>
    <div class="form-group">
            <% documents.forEach((info)=>{ %>
                <input type="checkbox" name="documents" id="document<%= info._id %>" value="<%= info._id %>" >
                <label for="document<%= info._id %>"><%= info.name %></label><br>
            <% }); %>

    </div>

    <button class="btn btn-default">Добавить</button>

</form>
