<h2 class="page-title">Добавить продукт</h2>
<br><br>
<a href="/admin/admin_management" class="btn btn-primary">Показать всх начальников</a>
<br><br>

<form method="post" action="/admin/admin_management/add-men" >

    <div class="form-group">
        <label for="fullName">Полное имя</label>
        <input type="text" class="form-control" id="fullName" name="fullName" value="<%= fullName %>" placeholder="fullName">
    </div>

    <div class="form-group">
        <label for="contact_phone">Контактный номер телефона</label>
        <input type="text" class="form-control" id="contact_phone" name="contact_phone" value="<%= contact_phone %>" placeholder="Введите контактный номер телефона">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="<%= email %>" placeholder="Введите email">
    </div>

     <div class="form-group">
            <label for="position">Должность</label>
            <input type="text" class="form-control" id="position" name="position" value="<%= position %>" placeholder="position">
        </div>
           <div class="form-group">
               <% department.forEach(dep => { %>
                  <input type="checkbox" name="department" id="department<%= dep._id %>" value="<%= dep._id %>">
                   <label for="department<%= dep._id %>"><%= dep.name %></label><br>
               <% }); %>
           </div>

 <div class="form-group">
        <label for="img">Картинка</label>
        <input type="text" class="form-control" name="image" id="img" value="<%= image %>">

    </div>

    <button class="btn btn-default">Добавить</button>

          <% if (errors) {%>
              <% errors.forEach(function(error) { %>
              <div class="alert alert-danger">
                  <%= error.msg %>
              </div>
              <% });%>
          <% }%>
</form>

<script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#img").change(function() {
        readURL(this);
    });

</script>