<form method="post" action="/admin/admin_themes/add-themes/">

    <div class="form-group">
        <label for="title">Название темы</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= title %>" placeholder="title">
    </div>

    <h4>Выберете необходимые вопросы</h4>
    <div class="form-group">
        <% arrayOfAsks.forEach(dep => { %>
            <input type="checkbox" name="question" id="question<%= dep._id %>" value="<%= dep._id %>" >
            <label for="question<%= dep._id %>"><%= dep.question %></label><br>
            <% }); %>
    </div>
    <button class="btn btn-default">Добавить</button>

</form>
