<h2 class="page-title">Административные услуги</h2>
<a href="/admin/admin_administration/add-administration" class="btn btn-primary">Добавить новую административную услугу</a>
<br><br>
<% if (count > 0) { %>
    <table class="table table-striped sorting">

        <thead>
        <tr class="home">
            <th>id</th>
            <th>Название <br/> административной услуги</th>
            <th>1 - физ. лица <br/> 2 - юр. лица</th>
            <th>Тип адм. услуги для физ.лиц</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <% administration.forEach(function(document){ %>
            <tr>
                <td><%= document.id %></td>
                <td><div style="width: 200px"><%= document.uniqueName %></div></td>
                <td><%= document.type %></td>
                <td><%= document.typeAdministrativeService %></td>
                <td><a href="/admin/admin_administration/edit-administration/<%= document.id %>">edit</a></td>
                <td><a class="confirmDeletion" href="/admin/admin_administration/delete-administration/<%= document.id %>">delete</a></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
<% } else {%>
    <h3 class="text-center">Нет ни одной созданной административной процедуры</h3>
<% }%>