<h2 class="page-title">Подразделения МИНГАЗ</h2>
<a href="/admin/admin_departament/add-departament" class="btn btn-primary">Добавить новое подразделение</a>
<br><br>
<table class="table table-striped sorting">

    <thead>
      <tr class="home">
                  <th>Название</th>
                  <th>ФИО начальника</th>
                  <th>Описание отдела</th>
                  <th>График</th>
                  <th>Контакты</th>
                  <th>Руководство</th>
                  <th>edit</th>
                  <th>delete</th>
              </tr>
    </thead>
     <tbody>
            <% departament.forEach(function(el){ %>
            <tr>
                <td><%= el.name %></td>
                 <td><%= el.chief %></td>
                 <td><%= el.description %></td>
                 <td><%= el.schedule %></td>
                 <td><%= el.contacts %></td>
                <td><%= el.nameMen %></td>
                <td><a href="/admin/admin_departament/edit-departament/<%= el._id %>">edit</a></td>
                <td><a class="confirmDeletion" href="/admin/admin_departament/delete-departament/<%= el._id %>">delete</a></td>
            </tr>
            <% }); %>
        </tbody>
</table>