<form method="post" action="/admin/admin_themes/edit-themes/<%= id %>">

    <div class="form-group">
        <label for="title">Наименование темы вопросов</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= title %>" placeholder="title">
    </div>

    <div class="form-group">
        <label for="">Выбранные вопросы</label>
        <ul class="list-without-dots">
            <% listOfQuestionAnswer.map(function(dep){ %>
                <% questionAnswer.map(function(el){ %>
                    <% if(el.toString() === dep._id.toString()) { %>
                        <li><%= dep.question %></li>
                    <% }%>
                <% }); %>
            <% }); %>
        </ul>
    </div>
    <div class="form-group">
        <label for="">Добавление вопросов</label>
        <ul class="list-without-dots">
            <% listOfQuestionAnswer.forEach(function(dep){ %>
                <li>  <input type="checkbox" name="question" value="<%= dep._id %>" > <%= dep.question %></input></li>
            <% }); %>
        </ul>
    </div>
    <button class="btn btn-default">Добавить</button>

</form>
