<h2 class="page-title">Редактировани данных человека</h2>
<a href="/admin/admin_departament" class="btn btn-primary">Назад</a>
<br><br>

<form method="post" action="/admin/admin_departament/edit-departament/<%= id %>" >
    <div class="form-group">
        <label for="name">Название отдела</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= name %>" placeholder="name">
    </div>

    <div class="form-group">
        <label for="chief">Начальник отдела</label>
        <input type="text" class="form-control" id="chief" name="chief" value="<%= chief %>" placeholder="chief">
    </div>


    <div class="form-group">
        <label for="ta">Описание</label>
        <textarea name="description" class="form-control" id="ta" cols="30" rows="10" placeholder="description"><%= description %></textarea>
    </div>


    <div class="form-group">
        <label for="schedule">График работы</label>
        <textarea name="schedule" class="form-control" id="schedule" cols="30" rows="10" placeholder="schedule"><%= schedule %></textarea>
    </div>

    <div class="form-group">
        <label for="contacts">Контакты</label>
        <textarea name="contacts" class="form-control" id="contacts" cols="30" rows="10" placeholder="contacts"><%= contacts %></textarea>
    </div>

    <div class="form-group">
        <label for="nameMen">Выбрать руководителя</label>

        <ul class="list-without-dots">
            <% management.map(function(men){ %>
               <li> <input type="radio" id="nameMen" name="nameMen" <%= men._id.equals(nameMenChecked) ? 'checked' : '' %> value="<%= men._id %>"><%= men.fullName %></li>
            <% }); %>
        </ul>

    </div>

    <button class="btn btn-default">Сохранить</button>

    <% if (errors) {%>
        <% errors.forEach(function(error) { %>
            <div class="alert alert-danger">
                <%= error.msg %>
            </div>
        <% });%>
    <% }%>
</form>
