<h2 class="page-title">Редактировани документов</h2>
<a href="/admin/admin_documents" class="btn btn-primary">Назад</a>
<br><br>

<form method="post" action="/admin/admin_documents/edit-documents/<%= id %>" enctype="multipart/form-data">

    <div class="form-group">
          <label for=""> имя</label>
          <input type="text" class="form-control" name="name" value="<%= name %>" placeholder="name">
      </div>


    <div class="form-group">
        <label for="">type</label>
        <input type="text" class="form-control" name="type" value="<%= type %>" placeholder="type">
    </div>


    <div class="form-group">
              <label for="">link</label>
              <input type="text" class="form-control" name="link" value="<%= link %>" placeholder="link">
          </div>
    <div class="form-group">
              <label for="">separation</label>
              <input type="text" class="form-control" name="separation" value="<%= separation %>" placeholder="separation">
          </div>

    <button class="btn btn-default">Сохранить</button>
</form>
