<h2 class="page-title">edit product</h2>
<a href="/admin/admin_separations" class="btn btn-primary">Назад ко всем услугам</a>
<br><br>

<form method="post" action="/admin/admin_separations/edit-separations/<%= id %>">

    <div class="form-group">
        <label for="separation">Раздел</label>
        <input type="text" class="form-control" id="separation" name="separation" value="<%= separation %>" placeholder="separation">
    </div>

    <div class="form-group">
        <label for="">Выбранные документы</label>
        <ul class="list-without-dots">
            <% listDocuments.map(function(dep){ %>
                <% documents.map(function(el){ %>
                    <% if(el.toString() === dep._id.toString()) { %>
                        <li><%= dep.name %></li>
                    <% }%>
                <% }); %>
            <% }); %>
        </ul>
    </div>

    <div class="form-group">
        <label for="">Добавление новых документов</label>
        <ul class="list-without-dots">
            <% listDocuments.forEach(function(dep){ %>
                <li>  <input type="checkbox" name="documents" value="<%= dep._id %>" > <%= dep.name %></input></li>
            <% }); %>
        </ul>
    </div>

    <button class="btn btn-default">Сохранить</button>
</form>


