<h2 class="page-title">edit product</h2>
<a href="/admin/admin_separations" class="btn btn-primary">Назад ко всем услугам</a>
<br><br>

<form method="post" action="/admin/admin_separations/edit-separations/<%= id %>">

    <div class="form-group">
        <label for="separation">Раздел</label>
        <input type="text" class="form-control" id="separation" name="separation" value="<%= separation %>" placeholder="separation">
    </div>


    <label for="">Добавление/редактирование списка документов</label>
    <% if (Array.isArray(documents)) { %>
    <div class="form-group">
            <% documents.forEach(function(doc){ %>
            <input type="checkbox" id="document<%= doc._id %>" name="documents" value="<%= doc._id %>"
                    <%= selectedDocuments.some(s => s._id.equals(doc._id)) ? 'checked' : '' %>>
            <label for="document<%= doc._id %>"><%= doc.name %></label><br>
            <% }); %>
    </div>
    <% } else { %>
        <p>Нет ни одного регламинтирующего документа, необходимо создать во вкладке "Регламинтирующие документы"</p>
    <% } %>

    <button class="btn btn-default">Сохранить</button>
</form>


