<h2 class="page-title">Редактировани документов</h2>
<a href="/admin/admin_documents" class="btn btn-primary">Назад</a>
<br><br>

<form method="post" action="/admin/admin_documents/edit-documents/<%= id %>" >

    <div class="form-group">
          <label for="name"> имя</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= name %>" placeholder="name">
      </div>


    <div class="form-group">
        <label for="type">type</label>
        <input type="text" class="form-control" id="type" name="type" value="<%= type %>" placeholder="type">
    </div>


    <div class="form-group">
              <label for="link">link</label>
              <input type="text" class="form-control" id="link" name="link" value="<%= link %>" placeholder="link">
          </div>

    <label for="separation">Выберете Тип документа:</label>
    <select class="form-control"  id="separation" name="separation">
        <% separations.forEach(el => { %>
            <option value="<%= el.separation %>" <%= el.separation === separation ? 'selected' : '' %> ><%= el.separation %></option>
        <% }) %>
    </select><br><br>

    <button class="btn btn-default">Сохранить</button>
</form>
