<h2 class="page-title">Редактирование поста</h2>
<a href="/admin/admin_posts" class="btn btn-primary">Назад ко всем постам</a>
<br><br>

<form method="post" action="/admin/admin_posts/edit-post/<%= id %>" >


    <div class="form-group">
        <label for="content">Описание</label>
         <input type="text" class="form-control" id="content" name="content" value="<%= content %>" placeholder="Описание">
    </div>

          <div class="form-group">
               <label for="img">Измените ссылку на картинку </label>
              <input type="text" class="form-control" name="image" id="img" value="<%= image %>">
          </div>

    <div class="form-group">
        <label for="date">Дата добавления</label>
        <input type="date" class="form-control" name="date" id="date" value="<%= date %>">
    </div>

    <label for="link">Выберете статью:</label>
    <select class="form-control"  id="link" name="link">
        <% mainPosts.forEach(post => { %>
            <option value="<%= post._id %>" <%= post._id.equals(link) ? 'selected' : '' %>><%= post.name %></option>
        <% }) %>
    </select><br><br>

    <button class="btn btn-default">Сохранить</button>
</form>
