<form method="post" action="/admin/admin_themes/edit-themes/<%= id %>">

    <div class="form-group">
        <label for="title">Наименование темы вопросов</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= title %>" placeholder="title">
    </div>

    <h4>Добавление вопросов</h4>
    <div class="form-group">
        <% listOfQuestionAnswer.forEach(function(dep){ %>
            <input type="checkbox" name="question" id="question<%= dep._id %>" value="<%= dep._id %>" <%= questionAnswer.some(s => s._id.equals(dep._id)) ? 'checked' : '' %> >
            <label for="question<%= dep._id %>"><%= dep.question %></label><br>
        <% }); %>
    </div>
    <button class="btn btn-default">Добавить</button>

</form>
