<h2 class="page-title">edit product</h2>
<a href="/admin/admin_services" class="btn btn-primary">Назад ко всем услугам</a>
<br><br>

<form method="post" action="/admin/admin_services/edit-services/<%= id %>" >

    <div class="form-group">
        <label for="name">Название услуги</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= name %>" placeholder="name">
    </div>
    <div class="form-group">
        <label for="type">Тип - 1: физ.лица, тип -2: юр. лица</label>
        <input type="text" class="form-control" id="type" name="type" value="<%= type %>" placeholder="type">
    </div>
    <div class="form-group">
        <label for="">Current Image</label>
        <p>
            <% if (image === "") { %>
        <p></p>
            <% } else {%>
                <img id="noimage" src="/public/images/<%= image %>" alt="">
            <% } %>
        </p>
    </div>

    <div class="form-group">
        <label for="">Загрузить другую картинку</label>
        <input type="file" class="form-control" name="image" id="img">
        <img src="#" id="imgPreview" alt="">
    </div>

    <div class="form-group">
        <label for="description">Айдишники необходимых пунктов</label>
        <input type="text" class="form-control" id="description" name="description" value="<%= description %>" placeholder="description">
    </div>

    <div class="form-group">
        <label for="">Предложенные статьи</label>
        <table>
            <thead>
            <tr>
                <th class="table-for-posts">Id на услугу</th>
                <th class="table-for-posts">Название услуги</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
            </tr>
            <% generalDescription.map(function(post){ %>
                <tr>
                    <td class="table-for-posts"><%= post._id %> </td>
                    <td class="table-for-posts"><%= post.nameDescription %></td>
                </tr>
            <% }); %>
            </tbody></table>
    </div>

    <button class="btn btn-default">Сохранить</button>
</form>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/basic.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.js"></script>
<script>

    // Preview image
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $("#imgPreview").attr('src', e.target.result).width(100).height(100);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#img").change(function() {
        readURL(this);
    });

    // Dropzone
    Dropzone.options.dropzoneForm = {
        acceptedFiles: "image/*",
        init: function() {
            this.on("queuecomplete", function(file) {
                setTimeout(function() {
                    location.reload()
                }, 1000);
            });
        }
    }

</script>


