<h2 class="page-title">Редактирование данных человека</h2>
<a href="/admin/admin_management" class="btn btn-primary">Назад</a>
<br><br>

<form method="post" action="/admin/admin_management/edit-men/<%= management._id %>">
    <div class="form-group">
        <label for="fullName">ФИО руководителя</label>
        <input type="text" class="form-control" id="fullName" name="fullName" value="<%= management.fullName %>" placeholder="fullName">
    </div>
    <div class="form-group">
        <label for="contact_phone">Контактный номер телефона</label>
        <input type="text" class="form-control" id="contact_phone" name="contact_phone" value="<%= management.contact_phone %>" placeholder="Контактный номер телефона">
    </div>
    <div class="form-group">
        <label for="position">Должность руководителя</label>
        <input type="text" class="form-control" id="position" name="position" value="<%= management.position %>" placeholder="position">
    </div>
    <h4>Выбрать подразделения</h4>
    <% if (Array.isArray(department)) { %>
    <div class="form-group">
            <% department.forEach(dep => { %>

                    <input type="checkbox" id="department<%= dep._id %>" name="department" value="<%= dep._id %>"
            <%= management.department.some(s => s._id.equals(dep._id)) ? 'checked' : '' %>>
            <label for="department<%= dep._id %>"><%= dep.name %></label><br>
        <% }); %>

    </div>
    <% } else { %>
        <p>No services available</p>
    <% } %>
   <div class="form-group">
       <label for="image">Картинка</label>
       <input type="text" class="form-control" id="image" name="image" value="<%= management.image %>">
   </div>
    <button class="btn btn-default">Сохранить</button>
</form>
