<h2 class="page-title">Вакансии</h2>
<a href="/admin/admin_vacancies/add-vacancies" class="btn btn-primary">Добавить новую вакансию</a>
<br><br>
<% if (count > 0) { %>
<table class="table table-striped sorting">

    <thead>
      <tr class="home">
          <th>Название</th>
          <th>Зарплата</th>
          <th>Опыт работы</th>
          <th>Характер работы</th>
          <th>График работы</th>
          <th>Рабочие часы</th>
          <th>Формат работы</th>
          <th>Редактировать</th>
          <th>Удалить</th>
      </tr>
    </thead>
     <tbody>
            <% vacancies.forEach(function(vacancy){ %>
            <tr>
                <td><%= vacancy.name %></td>
                <td><%= vacancy.salary %></td>
                <td><%= vacancy.work_experience %></td>
                <td><%= vacancy.nature_of_work %></td>
                <td><%= vacancy.schedule %></td>
                <td><%= vacancy.working_hours %></td>
                <td><%= vacancy.work_format %></td>
                <td><a href="/admin/admin_vacancies/edit-vacancy/<%= vacancy._id %>">Редактировать</a></td>
                <td><a class="confirmDeletion" href="/admin/admin_vacancies/delete-vacancy/<%= vacancy._id %>">Удалить</a></td>
            </tr>
            <% }); %>
        </tbody>
</table>
<% } else {%>
<h3 class="text-center">Нет ни одной созданной вакансии</h3>
<% }%>